---
import { Image } from "astro:assets";
import Logo_Image from "../Img/Epic_Logo.png";
import Waves from "./Waves.astro";
import ThemeToggle from "./ThemeToggle.astro";

// Usa import.meta.glob para buscar archivos en la carpeta "templos"
const templos = import.meta.glob('../pages/templos/*.astro');

// Extrae los nombres de los templos a partir de las rutas
const templosLinks = Object.keys(templos).map((path) => {
  const name = path.split('/').pop().replace('.astro', '');
  return { name, path: `/templos/${name}` };
});
---

<main class="top py-1">
  <Image
    src={Logo_Image}
    decoding="async"
    loading="lazy"
    alt="Logo"
    class="w-4/5 md:w-1/5 mx-auto rounded-[50%] mb-5 mt-24"
  />
  <div class="navbar justify-center">
    <!-- Add theme toggle button -->
    <div class="absolute right-4 top-4">
      <ThemeToggle />
    </div>
    
    <!-- Menú móvil -->
    <div class="dropdown lg:hidden absolute top-4 left-4">
      <label tabindex="0" class="btn btn-ghost">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </label>
      <div class="dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-64 left-0">
        <a href="/" class="block p-2 hover:bg-base-200 rounded-lg font-medium">Inicio</a>

        <div class="collapse collapse-arrow bg-base-100">
          <input type="radio" name="mobile-accordion" />
          <div class="collapse-title font-medium">
            Templos
          </div>
          <div class="collapse-content">
            {templosLinks.map(({ name, path }) => (
              <a href={path} class="block p-2 hover:bg-base-200 rounded-lg capitalize">Templo de {name}</a>
            ))}
          </div>
        </div>

        <a href="/About" class="block p-2 hover:bg-base-200 rounded-lg font-medium">Ver más</a>
        <a href="/actividades" class="block p-2 hover:bg-base-200 rounded-lg font-medium">Actividades</a>
      </div>
    </div>
    
    <!-- Menú desktop -->
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1 text-xl">
        <li><a class="underHv" href="/">Inicio</a></li>
        <li>
          <details>
            <summary>Templos</summary>
            <ul class="p-2 z-10 text-sm min-w-50">
              {templosLinks.map(({ name, path }) => (
                <li><a class="underHv capitalize" href={path}>Templo de {name}</a></li>
              ))}
            </ul>
          </details>
        </li>
        <li><a class="underHv" href="/About">Quienes Somos</a></li>
        <li><a class="underHv" href="/actividades">Actividades</a></li>
      </ul>
    </div>
  </div>
  <Waves />
</main>
